


<div class="container">


<!-- home page -->

  <div ng-if='$ctrl.showAllResidents' class="row">

    <div align="center">
      <p class="meet-residents-text">Meet Our Residents</p>
    </div>

    <div align="center">
      <div style="width: 250px; margin-bottom: 10px;" class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>


    <div ng-if='$ctrl.showAllResidents' style="margin-top: 15px;" class="row">

      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div  class="thumbnail">
           <div align="center" class="profile-img-div">
              <img align="center" class="profile-img" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="...">
           </div>
           <div align="center">
              <p class='thumbnail-name'>Mary Smith</p>
          
              <p class="thumbnail-year">Resident since: 2017</p>
           </div>
           <div align="center">
              <div class="btn btn-see-info" ng-click='$ctrl.residentClick()'><p class="btn-see-info-text">More Info</p></div>
           </div>
        </div>
      </div>

    </div>


  </div>




  <!-- data page -->
<div align="center">
  <div ng-if='!$ctrl.showAllResidents'>
    
    <img ng-if='!$ctrl.identityFlag' class="category-icon-img-off" ng-click='$ctrl.identityClick()' src="../assets/images/icon_identity.png" alt="">
    <img ng-if='$ctrl.identityFlag' class="category-icon-img-on" src="../assets/images/icon_identity_g.png" alt="">
    <!-- <span>Identity</span> -->

    <img ng-if='!$ctrl.autonomyFlag' class="category-icon-img-off" ng-click='$ctrl.autonomyClick()' src="../assets/images/icon_autonomy.png" alt="">
    <img ng-if='$ctrl.autonomyFlag' class="category-icon-img-on" src="../assets/images/icon_autonomy_g.png" alt="">
  <!-- <span>Autonomy</span> -->

    <img ng-if='!$ctrl.connectednessFlag' class="category-icon-img-off" ng-click='$ctrl.connectednessClick()' src="../assets/images/icon_connectedness.png" alt="">
    <img ng-if='$ctrl.connectednessFlag' class="category-icon-img-on" src="../assets/images/icon_connectedness_g.png" alt="">

    <img ng-if='!$ctrl.growthFlag' class="category-icon-img-off" ng-click='$ctrl.growthClick()' src="../assets/images/icon_growth.png" alt="">
    <img ng-if='$ctrl.growthFlag' class="category-icon-img-on" src="../assets/images/icon_growth_g.png" alt="">

    <img ng-if='!$ctrl.securityFlag' class="category-icon-img-off" ng-click='$ctrl.securityClick()' src="../assets/images/icon_security.png" alt="">
    <img ng-if='$ctrl.securityFlag' class="category-icon-img-on" src="../assets/images/icon_security_g.png" alt="">

    <img ng-if='!$ctrl.meaningFlag' class="category-icon-img-off" ng-click='$ctrl.meaningClick()' src="../assets/images/icon_meaning.png" alt="">
    <img ng-if='$ctrl.meaningFlag' class="category-icon-img-on" src="../assets/images/icon_meaning_g.png" alt="">

    <img ng-if='!$ctrl.joyFlag' class="category-icon-img-off" ng-click='$ctrl.joyClick()' src="../assets/images/icon_joy.png" alt="">
    <img ng-if='$ctrl.joyFlag' class="category-icon-img-on"src="../assets/images/icon_joy_g.png" alt="">
  </div>
</div>  




<div ng-if='!$ctrl.showAllResidents' class="row">
  <div class="col-md-3"></div>

  <div class=" col-md-6 graphs-page-body">


  <div align="center" class="title-div">
    <p class="title-text">Identity</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class="text-color-green">Where He/She Grew Up</p>
    </div>
  </div>


  <div id="a-1" class="q-text-div"><p>
    <bold-keywords phrase="'I love eating 4 pizzas everyday and hate cookies.'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_2.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class="text-color-yellow">Education Background</p>
    </div>
  </div>

  <div id="a-2" class="q-text-div">
    <p>
    <bold-keywords phrase="'I like eating pizza on Sundays. Sometimes I eat cookies on Thursdays, but hate chicken on Fridays.'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_3.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>Work History</p>
    </div>
  </div>

  <div id="a-3" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_4.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>Marital Status</p>
    </div>
  </div>

  <div id="a-4" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_5.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p text-color-green>Religious Beliefs</p>
    </div>
  </div>

  <div id="a-5" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_6.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-yellow'>Skills</p>
    </div>
  </div>

  <div id="a-6" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_7.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>Alone Time Preference</p>
    </div>
  </div>

  <div id="a-7" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/a_8.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>$$$$$</p>
    </div>
  </div>

  <div id="a-8" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>
 



  <div align="center" class="title-div">
    <p class="title-text">Autonomy</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-green'>$$$$$</p>
    </div>
  </div>

  <div id="b-8" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_2.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-yellow'>$$$$$</p>
    </div>
  </div>

  <div id="b-2" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_3.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>$$$$$</p>
    </div>
  </div>

  <div id="b-3" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_4.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>Food Preferences</p>
    </div>
  </div>

  <div id="b-4" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_5.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-green'>$$$$$</p>
    </div>
  </div>

  <div id="b-5" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/b_6.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-yellow'>$$$$$</p>
    </div>
  </div>

  <div id="b-6" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>



  <div align="center" class="title-div">
    <p class="title-text">Connectedness</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/c_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>$$$$$</p>
    </div>
  </div>

  <div id="b-1" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>



  <div align="center" class="title-div">
    <p class="title-text">Growth</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/d_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>$$$$$</p>
    </div>
  </div>

  <div id="d-1" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/d_2.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-green'>$$$$$</p>
    </div>
  </div>

  <div id="d-2" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/d_3.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-yellow'>$$$$$</p>
    </div>
  </div>

  <div id="d-3" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>



  <div class="titl4-div">
    <p class="title-text">Security</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/e_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>$$$$$</p>
    </div>
  </div>

  <div id="e-1" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/e_2.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>$$$$$</p>
    </div>
  </div>

  <div id="e-2" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/e_3.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-green'>$$$$$</p>
    </div>
  </div>

  <div id="e-3" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>



   <div align="center" class="title-div">
    <p class="title-text">Meaning</p>
  </div>

  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/f_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-yellow'>$$$$$</p>
    </div>
  </div>

  <div id="f-1" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>



  <div align="center" class="title-div">
    <p class="title-text">Joy</p>
  </div>

   <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/g_1.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-blue'>$$$$$</p>
    </div>
  </div>

  <div id="g-1" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>


  <div class="row">
    <div class="q-icon-div col-xs-4">
      <img class="q-icon-img" src="../assets/images/g_2.png" alt="">
    </div>
    <div class="icon-title-text col-xs-8">
      <p class='text-color-red'>$$$$$</p>
    </div>
  </div>

  <div id="g-2" class="q-text-div">
    <p>
    <bold-keywords phrase="'XXXXXXX'"</bold-keywords><p>
  </div>




<div class="col-md-3"></div>

  </div>

</div>


</div>
