
.thing-form {
  margin: 20px 0;
}

.nav-logo {
  height: 40px;
  margin-top: 5px;
  margin-left: -10px;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}



.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: pink;
}

.navbar-text {
  margin-left: 15px;
}


.icon-img {
  height: 50px;
}
