.normal-word {
  color: #fff;
  font-size: 16px;
}

.big-word {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.good-word {
  font-size: 22px;
  font-weight: bold;
  color: #28ff23;
}

.number-word {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.heart-icon {
  font-size: 18px;
  font-weight: bold;
  color: pink;
}

.bad-word {
  font-size: 22px;
  font-weight: bold;
  color: #ff2323;
}
