<div  class='container'>

<div class="row  row-centered">
  <div class='col-md-2'></div>
  <div class="col-md-8 col-centered">
    <!--<pre>{{$ctrl.props.allQuestions|json}}</pre>-->
    <form name="nestedForm" class="tab-form-demo">
      <uib-tabset active="$ctrl.tabIdx">
        <uib-tab ng-repeat="(category, questions) in $ctrl.props.allQuestions" index="$index" heading="{{category}}">
          <div class="form-group" ng-repeat="question in questions">
            <label>{{question.name}}</label>
            <input type="text"
                   ng-show="!($ctrl.isDate(question.name))"
                   class="form-control"
                   required ng-model="question.value"/>
            <p class="input-group" ng-show="($ctrl.isDate(question.name))">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{$ctrl.format}}"
                     ng-model="question.value" 
                     is-open="$ctrl.popup1.opened" 
                     datepicker-options="$ctrl.dateOptions"
                     ng-required="true"
                     close-text="$ctrl.Close"
                     alt-input-formats="$ctrl.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" 
                        class="btn btn-default" 
                        ng-click="$ctrl.open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <button type="button"
                  class='btn btn-default'
                  ng-disabled="$ctrl.tabIdx === 0"
                  ng-click="$ctrl.lastTab()">Back</button>
          <button type="button"
                  ng-class="$ctrl.tabIdx < 7 ? 'btn btn-primary': 'btn btn-success'"
                  ng-click="$ctrl.tabIdx < 7 ? $ctrl.nextTab(): $ctrl.submit()">{{$ctrl.tabIdx < 7 ?  "Next": "Submit"}}</button>
        </uib-tab>
      </uib-tabset>
    </form>
  </div>
  <div class='col-md-2'></div>
</div>

</div>