<div  class='container'>

<div class="row  row-centered">
  <div style="color: #28ff23; margin-bottom: 20px;" ng-if="$ctrl.showMessage">Successfully updated the form! We'll work on on integrating these changes to the personal care plan so that we can provide the best possible care for you and your family.</div>
  <div class='col-md-2'></div>
  <div class="col-md-8 col-centered">
    <!--<pre>{{$ctrl.props.allQuestions|json}}</pre>-->
    <form name="nestedForm" class="tab-form-demo">
      <uib-tabset active="$ctrl.tabIdx">
        <uib-tab ng-repeat="(category, questions) in $ctrl.props.allQuestions" index="$index" heading="{{category}}">
          <div class="form-group" ng-repeat="question in questions">
            <label>{{question.name}}</label>
            <input type="text"
                   class="form-control"
                   required
                   ng-model="question.value"/>
            <!-- <p class="input&#45;group" ng&#45;if="$ctrl.isDate(question)"> -->
            <!--   <input type="text" -->
            <!--          class="form&#45;control" -->
            <!--          uib&#45;datepicker&#45;popup="{{$ctrl.format}}" -->
            <!--          ng&#45;model="question.value" -->
            <!--          is&#45;open="$ctrl.popups[$index].opened" -->
            <!--          datepicker&#45;options="$ctrl.dateOptions" -->
            <!--          ng&#45;required="true" -->
            <!--          close&#45;text="Close" -->
            <!--          alt&#45;input&#45;formats="$ctrl.altInputFormats" /> -->
            <!--   <span class="input&#45;group&#45;btn"> -->
            <!--     <button type="button" -->
            <!--             class="btn btn&#45;default" -->
            <!--             ng&#45;click="$ctrl.popups[$index] = true"> -->
            <!--       <i class="glyphicon glyphicon&#45;calendar"></i> -->
            <!--     </button> -->
            <!--   </span> -->
            <!-- </p> -->
          </div>
          <button type="button"
                  class='btn btn-default'
                  ng-disabled="$ctrl.tabIdx === 0"
                  ng-click="$ctrl.lastTab()">Back</button>
          <button type="button"
                  ng-class="$ctrl.tabIdx < 7 ? 'btn btn-primary': 'btn btn-success'"
                  ng-click="$ctrl.tabIdx < 7 ? $ctrl.nextTab(): $ctrl.submit()">{{$ctrl.tabIdx < 7 ?  "Next": "Submit"}}</button>
        </uib-tab>
      </uib-tabset>

      <!-- <button type="button" -->
      <!--         class="btn btn&#45;primary" -->
      <!--         ng&#45;click="$ctrl.submit()">Submit</button> -->
    </form>
  </div>
  <div class='col-md-2'></div>
</div>

</div>
